header(class="header")
	a(href="#logo")
		img(src="../img/default-logo.png", alt="default logo")
	input(type="checkbox" id="nav-toggle" hidden="")
	.header-social
		a(href="#facebook")
			img(src="../img/facebook.svg", alt="logo facebook")
		a(href="#twitter")
			img.header-twitter(src="../img/twitter.svg", alt="logo twitter")
		a(href="#instagram")
			img(src="../img/instagram.svg", alt="logo instagram")
	label(for="nav-toggle" class="nav-toggle" onclick="")
	nav(class="nav")
		h2.logo-menu
			a(href="#logo") Design and Concept Development
		ul
			li
				a(href="#1") One
			li
				a(href="#2") Two
			li
				a(href="#3") Three
			li
				a(href="#4") Four
			li
				a(href="#5") Five
			li
				a(href="#6") Six
			li
				a(href="#7") Seven
	label(for="nav-toggle" class="mask-content" onclick="")
