html
	include html/head
	body.body
		section.sec-one
			.conteiner
				include html/header
			.sec-one-info
				.sec-one-img
					img.one-img(src="../img/reer-min.jpg", alt="men with glases")
					img.one-img-1200(src="../img/reer-min-1200.jpg", alt="men with glases")
					img.one-img-1000(src="../img/reer-min-1000.jpg", alt="men with glases")
				.sec-one-bside-img
				.sec-one-txt
					.one-txt
						h2 Hello, I`m John.
						span.txt-span Graphic Designer
						p.txt-p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellendus obcaecati eum, repellat cum illum voluptatum.
						span.txt-span1 Image from
							a(href="#title-img")  Freepik
					.one-contact
						p Phone:
							img(src="../img/phone.svg", alt="phone")
							a(href="#phone") +7 495 123 456
						p Email:
							img(src="../img/mail.svg", alt="mail")
							a(href="#mail") info@yourmailhere.com
						p Adress: 121 Rock Sreet, 21 Avenue,New York, NY 92103-9000
							img(src="../img/adress.svg", alt="adress")
						p Date of birth: Aug 28th 1987
							img(src="../img/date.svg", alt="date")
					button.btn.one-download
						p DOWNLOAD CV
				.sec-one-bside

		section.sec-two
			.conteiner
				.sec-two-text
					h2 Design and Concept Development
					p Lorem ipsum dolor sit, consectetur some adipiscing elit eiusmod tempor incididu
				.sec-two-task
					div
						h4 Design
						p Product Mockup
						p Branding
						p Illustrations
						p UI/UX
						p Websites
					div
						h4 Web Design
						p Propotype
						p UI/UX
						p Content Writing
						p Website Hosting
						p Website Analysis
					div
						h4 Development
						p Word Press
						p Application Devloment
						p Frontend
						p PHP
						p Javascript
					div
						h4 Branding
						p Brand equity audit
						p Audience analysis
						p Competitive review
						p Strategic direction
						p Visual positioning
					div
						h4 Marketing
						p SEO marketing
						p SE optimization
						p Affiliate marketing
						p Keyword
						p Article writing
					div
						h4 Video Editing
						p Animation
						p MotionGraphics
						p After effects
						p Cinema 4D
						p After effects

		section.sec-three
			h3 My Works
			p Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Cras semper auctor neque vitae tempus quam.

		section.sec-four
			div
				img(src="../img/logo-gold.jpg", alt="promo")
				span
					p 3D LOGO MOCKUP
			div
				img(src="../img/logo-cubiken.jpg", alt="promo")
				span
					p MODERN FACADE
			div
				img(src="../img/logo-bag.jpg", alt="promo")
				span
					p SHOPING BAG
			div
				img(src="../img/logo-johns.jpg", alt="promo")
				span
					p MINIMALISTIC DESIGN
			div
				img(src="../img/logo-luxury.jpg", alt="promo")
				span
					p LUXURY BLACK FACADE
			div
				img(src="../img/logo-lion.jpg", alt="promo")
				span
					p MOCKUP WITH LOGO
			div
				img(src="../img/logo-cards.jpg", alt="promo")
				span
					p BUSINESS CARD
			div
				img(src="../img/logo-business.jpg", alt="promo")
				span
					p IDENTITY DESIGN
			div
				img(src="../img/logo-businesscard.jpg", alt="promo")
				span
					p MODERN DESIGN
			.four-freepik Images from
				a(href="https://www.freepik.com/psd/logo") Freepek

		section.sec-five
			.conteiner
				div
					h5 My Skills
					h2 Expertise
					span.five-p Two decades of hands-on experience and hundreds of millions in spend have yielded a diverse skillset that touches on most every function. This is a partial list.
					a(href="")
						button.btn.five-resume
							span RESUME
				div
					p Brand Development & Advertising
					p Direct-Response Marketing
					p Search Marketing: SEO & PPC
					p Digital Video & TV, including
					p Super Bowl
					p Streaming & Radio
					p Out-of-Home
					p Influencer Marketing: Podcast & YouTube
					p Email Marketing, Design & Dev
					p Social Media (Paid & Organic)
				div
					p Website Design & Development
					p Advertising Creative (All Mediums)
					p Identity Design
					p Conversion Rate Optimization
					p Copywriting (Ad, Web, & Product)
					p Media Planning & Buying (up to $100MM)
					p Content Strategy & Execution
					p Business Development

		section.sec-six
			.conteiner
				h2 Profile
				p I'm a creative graphic designer
				img(src="../img/portrait.jpg", alt="photo men")
				.six-about-me
					h3 About me
					p I am creative graphic designer. I am an expert in the Adobe Creative Suit and have worked with a varied myriad of clients. Connecting your ideas to customer perception & all the digital dots in between...
					span Image from
						a(href="") Freepic
				.six-details
					h3 Details
					h4 Name:
					span Hunte Norton
					h4 Age:
					span 33 years
					h4 Location:
					span 121 Rock Sreet, 21 Avenue,New York, NY 92103-9000
					.details-social
						a(href="#facebook")
							img(src="../img/bw-facebook.png", alt="facebook")
						a(href="#twitter")
							img(src="../img/bw-twitter.png", alt="twitter")
						a(href="#instagram")
							img(src="../img/bw-instagram.png", alt="instagram")

		//- section.sec-seven секцию проеб, переделывать неохото

		section.sec-eight
			.conteiner
				h2 Pricing Table
				p.eight-text Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Cras semper auctor neque vitae tempus quam.
				.eight-price
					div
						h4 Design
						<h3><t class='price-dollar'>$</t>19,99</h3>
						h5 Heading here
						span
						p Beautifully Designed
						span
						p 100% Responsive
						span
						p Smooth Interactions
						span
						p Great Support
						span
						button.price-button &#10140;
					div
						h4 Development
						<h3><t class='price-dollar'>$</t>59,99</h3>
						h5 Heading here
						span
						p Beautifully Designed
						span
						p 100% Responsive
						span
						p Smooth Interactions
						span
						p Great Support
						span
						button.price-button.pb2 &#10140;
					div
						h4 Customization
						<h3><t class='price-dollar'>$</t>119,99</h3>
						h5 Heading here
						span
						p Beautifully Designed
						span
						p 100% Responsive
						span
						p Smooth Interactions
						span
						p Great Support
						span
						button.price-button &#10140;

		section.sec-nine
			.conteiner
				.nine-stat
					div
						div(id='num1' data-num='290') 0
						h5 HAPPY CUSTOMERS
					div
						div(id='num2' data-num='158') 0
						h5 PROJECT COMPLETED
					div
						div(id='num3' data-num='96') 0
						h5 CUPS OF COFFEE
					div
						div(id='num4' data-num='37') 0
						h5 AWARDS
				span Image from
					a(href="") Freepic

		section.sec-ten
			.conteiner
				.ten-form
					.form-text
						h6 JOIN MY NEWSLETTER
						h3 Nam ultrices ultrices nec tortor pulvinar esteras loremips est orem.
						.ten-p
							p 121 Rock Sreet, 21 Avenue,New York
							p Mon – Fri: 9:00 am – 8:00 pm,
							p Sat – Sun: 9:00 am – 10 pm
							a(href="") contacts@esbnyc.com
						h3 Follow us
						.form-text-social
							a(href="")
								img(src="../img/ten-facebook.svg", alt="facebook")
							a(href="")
								img(src="../img/ten-twitter.svg", alt="twitter")
							a(href="")
								img(src="../img/ten-instagram.svg", alt="instagram")
							a(href="")
								img(src="../img/ten-linkedin.svg", alt="linkedin")
						p ©2021 Privacy policy
					.form-form
						include html/form

		include html/footer

	script(src="js/app.min.js")
	script(defer src="../js/numbers.js")




